fastapi
uvicorn[standard]
SQLAlchemy
pydantic
pydantic-settings
email-validator
cryptography<46
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
resend
psycopg[binary]
